
.cartItemBtn {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(165, 165, 165);
    box-shadow: none;
    width: 2rem;
    height: auto;
    text-align: center;
    border: none;
    border-radius: 4px;
    font-size: larger;
}

.cartItemBtn:hover {
    background-color: rgba(232, 232, 232, 0.279);
    color: black;
}