
.navButton {    
    border-radius: 100%;
    padding: 8px; 
    transition: 0.4s;   
}

.navButton:hover {
    color: black;
    background: #53edea;
    background: radial-gradient(circle, rgb(107, 239, 237) 5%,
    rgba(42, 123, 155, 1) 89%);
    box-shadow:0 0 16px rgb(58, 177, 220);
    cursor: pointer;
}

.active {
    color: black;
    background: #53edea;
    background: radial-gradient(circle, rgb(129, 235, 233) 5%,
    rgb(55, 146, 182) 89%);
    box-shadow:0 0 16px rgb(67, 178, 218);
}