.addCartBtn {
    background-color: rgb(32, 99, 124);
    padding: 2px 8px;
    transition: 0.2s;
    border-radius: 25px;
}

.addCartBtn:hover {
  cursor: pointer;
  background: #53edea;
  background: radial-gradient( rgb(115, 239, 237) 10%,
    rgba(42, 123, 155, 1) 89%);
  box-shadow:1px 0 15px rgb(42, 123, 220);
}

.productBanner {
  border: solid 1px rgb(115, 239, 237);
  margin: 0 1rem 3rem 1rem;
  padding: 1rem;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  font-size:large;
  color: black;
  background: #53edea;
  background: radial-gradient(circle, rgb(115, 239, 237) 5%,
    rgba(42, 123, 155, 1) 89%);
  box-shadow:0 0 30px rgb(42, 123, 220);

}